.bg-dark {
    --bs-bg-opacity: 1;
    background-color: rgb(25 135 84) !important;
}

footer{
    background:#146c43;
    color:white;
}

footer a{
    color:white;
    text-decoration:none;
}


.icon-box{
    text-align:center;
    padding:20px;
}

.icon-box i{
    font-size:40px;
    color:#198754;
}

.card{
    transition:0.3s;
}

.card:hover{
    transform:translateY(-5px);
}

h2.section-title {
    text-align: center;
    
}


.offer{
    background:#198754;
    color:white;
    padding:60px 20px;
}


.text-dark {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
    font-weight: 600;
}

.btn-light{
    width:60px;
    height:60px;
    padding:0 !important;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:10px;
}



img.d-block.w-100 {
    height: 500px;
    background-size: cover;
}


/* Contact */



.offer1{
    background:linear-gradient(to right,#146c43,#20c997);
    padding:80px 20px;
}






/* Banner */
.shop-banner{
    background:#198754;
    color:white;
    padding:60px 0;
    text-align:center;
}

/* Product Card */
.product{
    border:none;
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 2px 10px rgba(0,0,0,.1);
    transition:.3s;
}

.product:hover{
    transform:translateY(-5px);
}

.product img{
    height:220px;
    object-fit:cover;
}

.price{
    color:#198754;
    font-weight:bold;
}

footer{
    background:#146c43;
    color:white;
}

footer a{
    color:white;
    text-decoration:none;
}

